{% extends 'layout.html' %}
{% block title %}FAQ, оно же ЧАВО{% endblock %}

{% block primaryContent %}
<p>
Тут вы сможете найти некоторые ответы на ЧАстые ВОпросы, если на ваш
вопрос ответа здесь нет — <a href="/contacts">свяжитесь с нами</a>.
</p>

<h2>Зачем всё это вообще?</h2>
<p>
Элементарно! Многие онлайн-RSS-аггрегаторы не умеют производить авторизацию
по логину/паролю, соответственно, вы не сможете добавить в них свою
френдленту ЖЖ или другие «закрытые» RSS-потоки. Именно для этого и
используется этот сервис.
</p>

<h2>Зачем еще один сервис?</h2>
<p>
Причина проста — некоторые подобные сервисы хранят ваш пароль на сервере.
Например, так поступает <a href="http://lj.abnib.co.uk/">lj.abnib.co.uk</a>.
Это ужасно. Другие сервисы утверждают, что ничего на сервере не хранят,
но при этом закрывают свой исходный код, таком образом удостоверится
в их честности невозможно. Пример такого сервиса — достаточно популярный
<a href="http://freemyfeed.com/">freemyfeed</a>.
Более того, <a href="http://freemyfeed.com/faq">FAQ freemyfeed</a>
утверждает, что для шифрования они используют суперсекретный алгоритм,
который не известен никому, кроме Главного Разработчика. Эта чушь
называется <a href=http://en.wikipedia.org/wiki/Security_through_obscurity>
Security through obscurity</a> и такая практика открыто порицается
криптографическим сообществом. Более того, фраза «rotating algorithm»
напоминает мне о алгоритме <a href="http://en.wikipedia.org/wiki/ROT13">ROT13</a>,
который назвать безопасным конечно же нельзя.
</p>

<h2>Безопасно ли это?</h2>
<p>
Я попытался сделать сервис максимально безопасным:
<ul>
	<!-- TODO: http://code.google.com/appengine/docs/python/tools/configuration.html#Secure_URLs
	<li>пароль <strong>может</strong> передаваться серверу по SSL</li> 
	-->
	<li><a href="http://github.com/darkk/rss-proxy">исходный код</a>
	сервиса открыт</li>

	<li>пароль не хранится на сервере, он шифруется в секретной ссылке</li>

	<li>пароль не хранится в секретной ссылке в явном виде, если
	ссылка будет рассекречена — пароль по прежнему в безопасности</li>

	<li>используется достаточно надёжное шифрование — SHA1-OFB</li>
</ul>
</p>

<h2>А я слышал, что SHA — это хэш, а не шифр...</h2>
<p>
Да, это хэш. В данном случае хэш используется в режиме «output feedback»
для генерации ключевой последовательности поточного шифра. Вообще,
симметричные шифры и хэши родственны в некоторых местах, но скажите, вам
действительно помогли эти подробности?
</p>

<h2>Я не хочу подставлять своих ЖЖ-френдов!</h2>
<p>
Если вы боитесь, что аггрегатор проиндексирует подзамочный пост вашего
ЖЖ-френда — вы можете включить обрезание сообщения, таким образом в
rss-ридер придёт только заголовок сообщения и дата его публикации, текст
сообщения будет вырезан.
Кстати, такие опасения не безпочвены. Яндекс.Лента была замечена
несколько лет назад в таком поведении, Google Reader же
<a href="http://www.google.com/feedfetcher.html#notinindex">однозначно
заявляет</a> о невозможности подобных проблем с его стороны. Более того,
«честные» роботы не должны индексировать секретные ссылки, т.к. это явно
запрещено <a href="/robots.txt">нашим robots.txt</a>.
</p>

<h2>Я случайно опубликовал секретную ссылку, что мне теперь делать?</h2>
<p>
Без паники. Просто смените свой пароль и создайте для себя новые
секретные ссылки — старые ссылки после этого будут возвращать ошибку
авторизации и никто не сможет ими воспользоваться для того, чтобы читать
секретные записи.
</p>

<h2>Кто еще верит в секретные ссылки?</h2>
<p>
Известно, что как минимум <a href="http://habrahabr.ru">Хабрахабр</a>
поступает аналогичным образом, т.е. генерирует для пользователя
некоторый секретный URL, по которому доступны все записи хабраленты,
включая и «подзамочные». Кстати, у хабрахабра рассекреченные ссылки
уничтожаются тем же самым образом — сменой пароля.
</p>

<h2>Что-то глючит! Количество друзей не совпадает с ЖЖ-профилем!</h2>
<p>
Проверьте внимательно — друзья, которые уже удалили свои журналы, не
учитываются. Учитываются только «живые» ЖЖ-друзья и сообщества.
</p>

<h2>А какие минусы?</h2>
<p>
Из неочевидных минусов мне известен пока ровно один — Google Reader
считает rss-потоки с секретных ссылок непопулярными и проверяет их реже,
чем другие, текущий рекорд лага — шесть часов.
</p>

{% endblock %}
