{% extends 'layout.html' %}
{% block title %}для livejournal.com{% endblock %}

{% block primaryContent %}

<form action="/livejournal" method="post">
    <fieldset class="hidden">
        <input type="hidden" name="action" value="opml" />
        <input type="hidden" name="credentials" value="{{ credentials }}" />
        <input type="hidden" name="friends" value="{% for f in mutual_friends %}{{ f.login }} {% endfor %} {% for f in friends_of %}{{ f.login }} {% endfor %}" />
        <input type="hidden" name="communities" value="{% for c in communities %}{{ c.login }} {% endfor %}" />
    </fieldset>

    <h2>Взаимные <img src="/img/arrow-mutual.gif" alt=""/> друзья</h2>
    {% if mutual_friends %}
    <p>
    Взаимные друзья — это те люди, чьи подзамки обязательно надо читать,
    чтобы быть в курсе событий. Если вы беспокоитесь за безопасность
    подзамочных постов, можете включить обрезание подзамков — тогда сам
    текст поста не появится в RSS-агрегаторе, а появятся только заголовки и
    дата публикации.
    </p>

    <table class="ljtable">
        <caption><a href="#" id="collapse_mf">[свернуть]</a> друзей ({{ mutual_friends|length}} шт.)</caption>
        <thead>
            {% include 'lj_friends_table_head.chunk.html' %}
            <tr>
                <td class="checkbox"><input type="checkbox" id="all_mf_read" checked="checked" /></td>
                <td class="checkbox"><input type="checkbox" id="all_mf_cut" /></td>
            </tr>
        </thead>
        <tbody>
            {% for ljuser in mutual_friends %}
            <tr class="{% cycle 'rowA' 'rowB' %}">
                {% include 'lj_friends_table_body.chunk.html' %}
                <td class="checkbox"><input type="checkbox" class="mf_read" name="read_{{ ljuser.login }}" value="1" checked="checked" /></td>
                <td class="checkbox"><input type="checkbox" class="mf_cut" name="cut_{{ ljuser.login }}" value="1" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>У вас нет взаимных LJ-друзей... Главное, что есть настоящие!</p>
    {% endif %}

    <h2>Ваши <img src="/img/arrow-friend.gif" alt=""/> друзья</h2>
    {% if friends_of %}
    <p>
    Ваши друзья — это те люди, которые не ответили вам взаимностью в
    LJ-дружбе. Включить чтение их подзамков вы, конечно, можете, но у вас
    всё равно ничего не получится до тех пор, пока вам не ответят на дружбу.
    Если кто-то из этого списка дружить с вами и не собирается, то зачем
    пытаться читать его подзамки? Это только добавит хлопот нашему серверу.
    Но если вы думаете, что через день вы станете друзьями — смело ставте
    галочку, и тогда вам не придётся перенастраивать RSS-агрегатор
    послезавтра.
    </p>

    <table class="ljtable">
        <caption><a href="#" id="collapse_fr">[свернуть]</a> друзей ({{ friends_of|length}} шт.)</caption>
        <thead>
            {% include 'lj_friends_table_head.chunk.html' %}
            <tr>
                <td class="checkbox"><input type="checkbox" id="all_fr_read" /></td>
                <td class="checkbox"><input type="checkbox" id="all_fr_cut" /></td>
            </tr>
        </thead>
        <tbody>
            {% for ljuser in friends_of %}
            <tr class="{% cycle 'rowA' 'rowB' %}">
                {% include 'lj_friends_table_body.chunk.html' %}
                <td class="checkbox"><input type="checkbox" class="fr_read" name="read_{{ ljuser.login }}" value="1" /></td>
                <td class="checkbox"><input type="checkbox" class="fr_cut" name="cut_{{ ljuser.login }}" value="1" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Неразделённая LJ-дружба — это не про вас!</p>
    {% endif %}

    <h2><img src="/img/community.gif" alt="" /> Сообщества</h2>
    <p>
    Большинство сообществ открыты и не публикуют подзамочных записей, таким
    образом, пытаться читать их подзамки смысла не имеет, но если вы состоите
    в закрытых сообществах — не забудьте проставить нужные галочки.
    </p>

    {% if communities %}
    <table class="ljtable">
        <caption><a href="#" id="collapse_comm">[свернуть]</a> сообщества ({{ communities|length}} шт.)</caption>
        <thead>
            <tr>
                <th rowspan="2">Сообщество</th>
                <th rowspan="2">Заглавие журнала</th>
                <th>Читать подзамки</th>
                <th>Обрезать подзамки</th>
            </tr>
            <tr>
                <td class="checkbox"><input type="checkbox" id="all_comm_read" /></td>
                <td class="checkbox"><input type="checkbox" id="all_comm_cut" /></td>
            </tr>
        </thead>
        <tbody>
            {% for comm in communities %}
            <tr class="{% cycle 'rowA' 'rowB' %}">
                <td class="ljuser"><a href="{{ comm.url }}">{{ comm.login }}</a></td>
                <td>{{ comm.journal_name }}</td>
                <td class="checkbox"><input type="checkbox" class="comm_read" name="read_{{ comm.login }}" value="1" /></td>
                <td class="checkbox"><input type="checkbox" class="comm_cut" name="cut_{{ comm.login }}" value="1" /></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Вы не состоите в LJ-сообществах... Или все эти сообщества — тайные?</p>
    {% endif %}

    <p>
    <input type="submit" class="button" name="" value="Поехали!" />
    </p>
</form>

<script type="text/javascript">/* <![CDATA[ */
    $(function() {
        function masscheckbox(cls) {
            function cbx(action) {
                $('#all_' + cls + '_' + action).click(function() {
                    $(
                    'input.' + cls + '_' + action + (this.checked ? ':not(:checked)' : ':checked')
                    ).each(function() {
                        $(this).click();
                    });
                });
            }
            cbx('read');
            cbx('cut');

            $('#collapse_' + cls).toggle(
            function() {
                $(this).parents('table.ljtable').children('tbody').fadeOut('slow');
                $(this).text('[развернуть]');
            },
            function() {
                $(this).parents('table.ljtable').children('tbody').fadeIn('slow');
                $(this).text('[свернуть]');
            }
            );
        }

        masscheckbox('mf');
        masscheckbox('fr');
        masscheckbox('comm');
    });
/* ]]> */</script>
{% endblock %}

